//
// Icons
//

// Styling for the rounded social media links


.social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    background-color: $gray-700;
    color: $white;
    border-radius: 100%;
    font-size: 1rem;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        color: $white;
        background-color: $primary;
    }
}


// Styling for the development technology icons
.dev-icons {
    font-size: 3rem;
}
