doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Senior Full-stack Web Developer with a passion for modern web technologies and agile methodologies.')
        meta(name='author', content='Jimmy Madon')

        title Jimmy Madon - Full-stack Software Engineer

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')
        link(rel='apple-touch-icon', sizes='180x180', href='assets/img/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='assets/img/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='assets/img/favicon-16x16.png')
        link(rel='manifest', href='assets/site.webmanifest')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Jimmy Madon
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/jimmy_madon_profile.jpg', alt='Jimmy Madon Profile Image')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Jimmy
                        span.text-primary Madon
                    ul.subheading.mb-5
                        li
                            i.fas.fa-map-marker-alt
                            | Feltham, London
                        li
                            i.fas.fa-mobile-alt
                            | +44 (0) 7539228661
                        li
                            i.fas.fa-envelope-open-text
                            a(id='mlink', href='#', target='_blank') #
                        li
                            a.social-icon(href='https://www.linkedin.com/in/jimmymadon/', alt='Linked In Profile', target='_blank')
                                i.fab.fa-linkedin-in
                    p.lead.mb-5
                        | I am a Senior Full-stack Software Engineer with a passion for modern web technologies and agile methodologies.
                    p.lead
                        | #JavaScript #Node.js #React #AngularJS
                        br
                        | #PHP #Laravel #CakePHP
                        br
                        | #GraphQL #AWS #Docker
                        br
                        | #Agile #Kanban #XtremeProgramming
                        br
                        | #Scrum #ScrumMaster #ProductOwner

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Senior Full-stack Software Engineer
                            .subheading.mb-3 Mindful Education Limited, London.
                            ul
                                li Developing Moodle Plugins for a ‘blended-learning’ education-tech platform using PHP, MySQL and AngularJS.
                                li Building an admin dashboard and reporting platform using Node.js, React, GraphQL and Amazon Web Services.
                                li Deploying and maintaining the applications above on Amazon Web Services using CloudFormation, Amplify, AppSync, Amazon ECS and EC2 servers, AWS Lambda for serverless functions, DynamoDB and RDS databases, Redis Caching and Amazon S3 + EFS for file storage.
                                li Introduced the Agile concepts of sprint planning, story estimation and sprint reviews within the team which helped the Head of Digital in planning and communicating the team's work to senior management.
                        .flex-shrink-0
                            span.text-primary Jul 2019 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Associate Lecturer (Part-time)
                            .subheading.mb-3 EM Normandie Business School, Oxford.
                            ul
                                li Delivering introductory courses in Programming (Python, Java, PHP, HTML, CSS) and Software Engineering to Undergraduate and Postgraduate students studying degrees in Business, Management, Banking and Finance.
                                li One of the few lecturers in the entire campus to consistently have a student feedback score higher than 9/10.
                                li Making complex subjects such as Object Oriented Programming more accessible to complete beginners and non-developers.
                        .flex-shrink-0
                            span.text-primary Mar 2017 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Lead Software Engineer
                            .subheading.mb-3 GENEO Software Limited, Royal Leamington Spa.
                            ul
                                li Led the development of a "Lean Engineering" enterprise web application by setting the standard for clean and reusable object-oriented PHP code.
                                li Re-wrote the core systems (User Management, File Management, Authorisation and Permissions) using the CakePHP framework and deployed it on a LAMP (Amazon Linux, Apache, MySQL, PHP) stack on AWS.
                                li Delivered the above project by deleting 120,000 lines of code while adding only 60,000 lines of code using cleaner 'Don't-Repeat-Yourself (DRY)' methods.
                                li Saved the company £9,000/year by reorganising EC2, EBS, RDS, SES and other resources on Amazon Web Services used to host the application.
                                li Created a robust Continuous Delivery and Integration platform using Jenkins CI.
                                li Enforced Test-Driven Development (TDD) with PHPUnit while introducing rapid automated Front-end Testing using Selenium.
                                li Led a major 12 month transformation from Waterfall to Agile methodologies that would radically change the entire software development lifecycle leading to a successful delivery of £100k projects.
                                li As the Scrum Master, introduced 2 week sprints instead of long 6-18 month projects.
                                li Achieved software delivery goals for the first time in the company’s 11 year history and decreased sprint volatility to <8%.
                                li Led successful recruitment campaigns, especially at the University of Birmingham, to add 7 young and dynamic developers to the Agile development team.
                        .flex-shrink-0
                            span.text-primary Mar 2013 - Nov 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 CakePHP Web Programmer / System Administrator
                            .subheading.mb-3 Staywimi Ltd., Greater London.
                            ul
                                li Server Setup and Administration: Re-creating and organising the web application’s Production, Testing and Development servers (Web and Database servers) using Amazon Web Services (EC2, EBS, RDS). Along with DNS redirects and the power of Git, a Zero-downtime deployment architecture was successfully achieved.
                                li Restructuring the Information Architecture: Created a shorter flow from Landing pages to Payments increasing number of bookings by 100% post-Olympics
                                li Automated all tasks to save an admin’s time by upto 3 hrs/day. Rebranding the website to improve User experience (UX) thereby increasing the conversion rate by 40%
                                li Optimizing site speed – Time to search for properties in London was reduced to 0.8 sec from an embarrassing 24 seconds.
                        .flex-shrink-0
                            span.text-primary Mar 2012 - Nov 2012

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Web Developer
                            .subheading.mb-3 Euro International Communications, Essex.
                            ul
                                li Redesigned the company website in WordPress increasing web traffic by 200%.
                                li Single handedly designed and developed an SEO friendly, eCommerce online web application using OpenCart / Adobe Fireworks.
                        .flex-shrink-0
                            span.text-primary Jan 2012 - Mar 2012

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Web Developer
                            .subheading.mb-3 Conta Webworks, London.
                            ul
                                li Converted Adobe Fireworks PNG prototypes into fully functional pixel-perfect websites using HTML/CSS/JavaScript.
                        .flex-shrink-0
                            span.text-primary Nov 2011 - Mar 2012

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 University of Oxford
                            .subheading.mb-3 Master of Science
                            div Software Engineering
                            p Distinction - 74%
                        .flex-shrink-0
                            span.text-primary Jan 2017 - Mar 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 University of East London
                            .subheading.mb-3 Bachelor of Science (Hons)
                            div Computing
                            p First Class - 1:1 (80%))
                        .flex-shrink-0
                            span.text-primary Mar 2010 - Jun 2012

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-angular
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-sass
                        li.list-inline-item
                            i.fab.fa-less
                        li.list-inline-item
                            i.fab.fa-wordpress
                        li.list-inline-item
                            i.fab.fa-gulp
                        li.list-inline-item
                            i.fab.fa-grunt
                        li.list-inline-item
                            i.fab.fa-npm
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Mobile-First, Responsive Design
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Browser Testing & Debugging
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Functional Teams
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.
                    p.mb-0
                        | When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards & Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Google Analytics Certified Developer
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Mobile Web Specialist - Google Certification
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st
                            | Place - University of Colorado Boulder - Emerging Tech Competition 2009
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st
                            | Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 2
                            sup nd
                            | Place - University of Colorado Boulder - Emerging Tech Competition 2008
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st
                            | Place - James Buchanan High School - Hackathon 2006
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 3
                            sup rd
                            | Place - James Buchanan High School - Hackathon 2005

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
